  .show-fake-browser {
  
    &.sidebar-page {
      .rs-sidebar {
        height: auto;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);
      }
      .rs-sidenav {
        flex: 1 1 auto;
        width: 100%;
  
        &-collapse-in {
          overflow-y: auto;
        }
      }
    }
    &.navbar-page {
      .rs-content {
        padding: 20px;
        margin: 20px;
        height: 500px;
        background-color: #f7f7fa;
      }
      .rs-footer {
        padding: 20px;
      }
    }
    &.login-page {
      .rs-content {
        padding: 20px;
        margin: 20px;
        height: 500px;
      }
      .rs-footer {
        padding: 20px;
      }
      .rs-panel {
        background: #fff;
        margin-top: 70px;
      }
    }
  }    